

#authors{
  display: inline;
}
#entry_create_form{
  margin-left: 200px;
  border: solid;
  margin-right: 200px;
  padding: 50px;
}
.Entry_create_row{
  display: table-row;
}

#entry_source_label{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_source_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_text_in_original_label{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_text_in_original_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_text_translated_label{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_text_translated_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#entry_translit{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#form{
  display: inline;
}
.Form_management_buttons{
  padding: 10px;
}

#language{
  display: inline;
}
.Note{
  font-style: italic;
  color: gray;
}
.Painted_red{
  color: red;
}
#place{
  display: inline;
}
.Row_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
  text-align: right;
  font-style: italic;
  vertical-align: top;
}
.Row_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
  vertical-align: top;
}
#source_language_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#source_language_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#target_language_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#target_language_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}
#time{
  display: inline; 
}
#user{
  display: inline;
}