/*---start login.php -------*/
#tablecloth{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid magenta;
}
#placemat{
  display: table-cell;
  vertical-align: middle;
  border: solid blue;
}

#login_form{
  display: table;
  border: solid red;
  padding: 5px;
  width-:400px; 
  margin-left: auto;
  margin-right: auto;
}
.login_form_row{
  display: table-row;
  border: solid green;
  padding: 5px;
}
#login_form_username{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_username_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_password{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_password_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}
/*--- finish login.php -------*/