/*Classes are in ABC order*/
.Add_kid{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
/*-------------------------------
10. Lets the element behave like a <td> element
50. align text in cell vertically in the middle
---------------------------------*/

.Dad_link{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_added_by{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_link{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kids_num{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_votes{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Member_text{
    display: table-cell; /* 10 */
    width: 200px;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/    
}
.Mom{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}




