body{
  background: #d4ddfe;
  color: #2a57fc;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
}
#maindiv {
  /*background: #f8f8f2;*/
  /*border: dotted 10px red;*/
  /*height: auto;*/
  /*height: 100%;*/
  /*position: relative;*/
  width: 98%;
}

#header{
  background: white; /*#E0E0E0*/
  /*border: ridge 10px #999;*/
  /*border: dotted 1px blue;*/
  box-shadow: 5px 5px 5px #888888;
  /*float: left;*/
  /*height: auto;*/
  margin: auto;
  /*margin-bottom: 1%;*/
  /*position: relative;*/
  width: 95%;
}
.header_row{
  /*border: ridge 5px orange;*/
  display: table;
  /*display: block;*/
  margin: auto;
  text-align: center;
  width: 95%;
}
#logo{
  /*border: ridge 5px red;*/
  display: table-cell;
  /*float: left;*/
  /*height: auto;*/
  /*margin-left:0.5%;*/
  /*margin-top:1%;*/
  /*position: initial;*/
  width: 10%;
}
#links{
  /*border: double 5px green; */
  display: table-cell;
  /*float:right;*/
  /*height:auto;*/
  /*margin-right:-4%;*/
  padding-right: 10px;
  /*position:relative;*/
  text-align: right;
  vertical-align: middle;
  width: 10%;
}
#navigation{
  /*border: double 5px blue;*/
  display: table-cell;
  /*float: right;*/
  /*height: auto;*/
  /*margin-top: 11%;*/ 
  margin: 0 auto;
  vertical-align: middle;
  width: 60%;
}

#search{
  background: white;
  /*border: ridge 10px magenta;*/
  display: block;
  /*display: inline-block;*/
  /*height: auto;*/
  /*padding: auto;*/
  /*margin-bottom: 2%;*/
  margin-left: 10%;
  margin-right: 10%;
  /*margin-top: 1%;*/
  /*position: relative;  */
  text-align: center;
  /*width: 80%;*/
}

#search input[type=text]{ 
  background: #eaeaea url(../images/search.png) no-repeat 1% 50%; 
  border: 1px solid white; 
  box-shadow: 2px 1.5px 2px #999;
  color: #999;
  font-size: 25pt;
  height: 7%;
  /*margin: auto;*/
  /*margin-left: 2.5%;*/
  /*margin-top: 1%;*/
  padding-left: 3%;
  width: 80%;
}

/*
#searchinput {
	background:white;
	margin-top:20%;
	height:7%;
	width:80%;
	border: 1px solid #0066cc;
    outline:0; 
}
*/
#searchinput img {
  height: 50px;
  margin-bottom: 1%;
  margin-top: 3%;
}


#search select, input[type=date]{
	border: 2px solid #eeeded; 
	margin-top:1%;
	/*margin-left:6%;	*/
}
/* ======= start the 3-column table ========*/

#index_table_container{
  /*border:  ridge 10px #9799ad;*/
  border-spacing: 10px;
  /*height: 100%; */
  /*margin-top: 10px;*/
  margin: 5px auto;
  /*position: relative;*/
  /*width: 1150px;*/
  width: 95%;
}

#index_table {
  /*border:  ridge 5px blue;*/
  display: block;
  /*left: 0px;*/
  margin: 5px auto;
  /*margin-left: 5px auto;*/
  /*margin-right: 5px auto;*/
  /*position: relative;*/
  /*top: 0px;*/
  width: 95%;
}

/* start left column*/
#LeftCol{
  background: white;
  /*border: 2px solid red;*/
  border: 1px solid #c1c1c1;
  box-shadow: 5px 5px 5px #888888;
  display: table-cell;
  /*float: left;*/
  /*height: auto;*/
 /* height: 422px;*/
  /*left: 0px;*/
  /*margin-left: 0%;*/
  /*margin-top: 2%;*/
  padding-left: 5px;
  padding-top: 5px;
  /*position: absolute;*/
  text-align: center;
  /*top: 42px;*/
  /*width: 300px;*/ 
  width: 20%;
}

#obj{
  height: 97%;
	overflow: hidden;
	width: 97%;	
}

/* finish left column*/
/* start middle column*/

#MidCol{
  background: white;
  /*border: 2px solid yellow;*/
  border: 1px solid #c1c1c1;
  box-shadow: 5px 5px 5px #888888;
  display: table-cell;
  /*float: left;*/
  /*height: auto;*/
  /*height: 50%;*/
  /*height: 422px;*/      
  /*left: 300px;*/
  /*margin: 0 auto;*/
  margin-right: 35px;
  /*margin-top: 2%;*/
  padding: 10px;
  /*position: absolute;*/
  text-align: center;
  /*top: 42px;*/
  vertical-align: top;
  width: 40%;/*550px;*/
}

#MidCol table{
  border-spacing: 20px;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1%;
  table-layout: fixed;    
}

#MidCol td{
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 1px solid #999;
  box-shadow: 2px 1.5px 2px #999;
  color: #999;
  text-align: center;
}

#MidCol li{
  margin-left:-10%;
  color:#404040;
  text-align:left;
  font-size:11px;
  font-weight:normal;
  list-style:none;
}

/* finish middle column*/
/* start right column*/

#RightCol{
  background: white;
  /*border: 2px solid green;*/
  border: 1px solid #c1c1c1;
  box-shadow: 5px 5px 5px #888888;
  display: table-cell;
  /*float: right;*/
  /*height: 422px;*/
  /*height: 50%;*/
  /*left: 850px;*/
  /*margin-left: 5px;*/
  /*margin-top:2%;*/
  padding: 10px;
  /*position: absolute;*/
  text-align: left;
  /*top: 42px;*/
  vertical-align: top;
  /*width: 300px; */
  width: 20%; 
}

/* finish right column*/
/* ====== finish the 3-column table ======= */

#footer{
  background: #E0E0E0;
  border: 1px solid #c1c1c1;
  /*float: left;*/
  height: auto;
  /*height: 10px;*/
  /*margin-top: 2%;*/
  /*position: fixed;*/
  /*position: relative;*/
  /*width: 100%*/;
  width: auto;
}
#footer p {
  margin-bottom: 0%;
  margin-top: 0%;
}

/*Footer Links*/
.flink {
	text-align:center;
}

#innertbl img{
	border-top-right-radius: 2em;
}

/*---start login.php -------*/
/*
#tablecloth{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid magenta;
}
#placemat{
  display: table-cell;
  vertical-align: middle;
  border: solid blue;
}
*/
#login_form{
  display: table;
  border: solid red;
  padding: 5px;
  width-:400px; 
  margin-left: auto;
  margin-right: auto;
}
.login_form_row{
  display: table-row;
  border: solid green;
  padding: 5px;
}
#login_form_username{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_username_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_password{
  display: table-cell;
  border: solid;
  padding: 5px;
}
#login_form_password_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}
/*--- finish login.php -------*/

/*for search_result.php*/
.Add_kid{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
/*-------------------------------
10. Lets the element behave like a <td> element
50. align text in cell vertically in the middle
---------------------------------*/

.Dad_link{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_added_by{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_link{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kids_num{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Kid_votes{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
.Member_text{
    display: table-cell; /* 10 */
    width: 200px;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/    
}
.Mom{
    display: table-cell; /* 10 */
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle; /*50*/
}
/* finish search_result.php */



/*for user_profile.css*/
.Left_panel{
    display: table-cell; /* 10 */
    width: 70%;
    border: solid green;
    border-width: thin;
    padding: 5px;
    vertical-align: top;
}

.Right_panel{
    display: table-cell; /* 10 */
    width: 20%;
    border: solid blue;
    border-width: thin;
    padding: 5px;
    vertical-align: top;
}
#user_contributions{
    border: solid;
    border-width: thin;
    padding: 5px;
    vertical-align: top;
}
#user_id{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
#user_name{
    font-size: large;
    font-weight: bold;  
}
#user_photo{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 5px;
}
#user_photo_id{
    display: table-row;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.User_profile{
    border: solid red;
    border-width: thin;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

/* finish user_profile.css*/


/* for entry_display.php*/
#entry_index_container{
  /*border: ridge 10px blue;*/
  width: 98%;
}
.entry_record{
  /*border: ridge 10px green;*/
  display: block;
  padding: 5px;
  margin: auto;
  width: 60%;
}
.entry_record_title{
  /*border: ridge 10px red;*/
  /*border: 1px solid #c1c1c1;*/
  display: block;
  /*font-family: serif "Georgia";*/
  font-style: italic;
  color: gray;
  margin: auto;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  width: 55%;
}
.entry_record_value{
  background: white;
  /*border: ridge 10px orange;*/
  border: 1px solid #c1c1c1;
  box-shadow: 5px 5px 5px #888888;
  display: block;
  font-family: serif "Georgia";
  font-size: large;
  margin: auto;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 55%;
}

/*fiish entry_create.php*/
