body{
/*  background: url("../../images/background.jpg") no-repeat center center fixed; */
  background: #D9E0E3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #000000;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

 /* always keep footer at bottom */
.wrapper {
  min-height: 100%;
  margin-bottom: -82px;
}

.wrapper:after {
    content: "";
    display: block;
}

.footer, .wrapper:after {
    height: 82px;
}
.footer{
  background: rgba(255,255,255,0.5); /*#ffffff*/
  color: #000000;
  font-size: 15px;
  text-align: center;

}

div.footer > div > a {
  text-decoration: none;
  color: #000000;
  font-size:  15px;
  padding: 0px 10px;
}

#header{
  background: rgba(255,255,255,0.5); /*#E0E0E0*/
  padding: 12px 0px;
}

.header_row{
  display: table;
  margin: auto;
  text-align: center;
  width: 95%;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
}

#links{
  display: table-cell;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
  width: 10%;
}

#navigation{
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  width: 63%;
}

div > nav#navigation > a {
  color: #000000;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

div > nav#navigation > a:hover {
  background: #14ACF3;
  color: #FCFCFC !important;
}

#search {
    background: rgba(255,255,255,0.5);
    display: block;
    padding: 40px 0px;
    text-align: center;
    width: 100%; 
}

#search input[type=text] {
    background: #FFFFFF url(../../images/searchi.png) no-repeat 0% 51%;
    border: 1px solid white;
    background-size: contain;
    color: #000000;
    font-size: 25pt;
    height: 48px;
    width: 931px;
    padding: 0px 0px 0px 60px;
}

#searchinput img {
  height: 50px;
  margin-bottom: 1%;
  margin-top: 3%;
}

#search select, input[type=date] {
border: 2px solid #eeeded;
margin-top: 1%;
/* margin-left: 6%; */
width: 268px;
height: 30px;
font-size: 17px;
}

/* ======= start the 3-column table ========*/
#index_table_container{
  border-spacing: 20px;
}

/* start left column*/
#LeftCol{
  background: white;
  border: 1px solid #c1c1c1;
  display: table-cell;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  width: 14%;
}

#obj{
  height: 97%;
	overflow: hidden;
	width: 97%;	
}
/* finish left column*/

/* start middle column*/
#MidCol{
  background: white;
  border: 1px solid #c1c1c1;
  display: table-cell;
  vertical-align: top;
}

#MidCol li{
  color:#404040;
  text-align:left;
  font-weight:normal;
  list-style:none;
}
/* finish middle column*/

/* start right column*/
#RightCol{
  background: white;
  border: 1px solid #c1c1c1;
  display: table-cell;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  width: 15%;   
}
/* finish right column*/

/* ====== finish the 3-column table ======= */


#innertbl img{
	border-top-right-radius: 2em;
}

/*---start login.php -------*/
#login_form{
  padding: 5px;
  width:413px; 
  margin-left: auto;
  margin-right: auto;
}

.login_form_row{
  display: table-row;
  border: solid green;
  padding: 5px;
}

#login_form_username{
  display: table-cell;
  border: solid;
  padding: 5px;
}

#login_form_username_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}

#login_form_password{
  display: table-cell;
  border: solid;
  padding: 5px;
}

#login_form_password_field{
  display: table-cell;
  border: solid;
  padding: 5px;
}

.login_input {
  width: 385px;
  height: 50px;
  padding-left: 17px;
  margin-left: 18px;
}

.ui-widget {
  font-size: 1.7em !important;
}

.ui-widget-header {
  border: 0px solid !important;
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%) !important;
  color: #ffffff !important;
}

.ui-dialog {
  padding: 0em!important;
  width: 471px !important;
}

#or {
    position: absolute;
    background: #FFFFFF;
    /*text-shadow: 0 2px 0px #121212;*/
    color: #000000;
    width: 55px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 38px;
    font-size: 13px;
    margin-left: -2.4em;
    margin-top: 8px;
}

.lw_button {
  -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #636462;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  padding: 10px 39px;
  text-decoration: none;
  width: 188px;
  text-shadow:0px 1px 0px #263666;
}
/*--- finish login.php -------*/

/*--- for search_result.php ---*/
#land{
  border-spacing: 5px;
  margin: 5px auto;
  padding: 5px;
  width: 98%;
}

#village{
  display: block;
  margin: 5px auto;
  width: 95%;
}

#dad_house{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: block;
  margin: 5px auto;
  width: 90%;

}

.door{
  background-color: lavender;
  border: 1px solid gainsboro;
  color: silver;
  display: block;
  float: left;
  font-weight: bold;
  margin: auto;
  padding: 3px;
  padding-left: 10px;
  vertical-align: middle;
  width: 98.5%;

}
.dad_door{
  background-color: #3399FF;
  border: 1px solid gainsboro;
  color: silver;
  display: block;
  float: left;
  font-weight: bold;
  margin: auto;
  padding: 3px;
  padding-left: 10px;
  vertical-align: middle;
  width: 98.5%;

}

#dad_room{
  display: block;
  margin: auto;
  width: 95%;

}

#dad_text{
  background-color: white;
  color: black;
  display: table-cell;
  font-family: sans-serif "Calibri";
  font-size: large;
  vertical-align: middle;
  width: 500px;

}

#dad_profile_link{
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  width: 5px;
}

#kids_num{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  width: 5px;
}

#add_kid{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; /*50*/
  width: 5px;
}

.kids_house{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: block;
  margin: 5px auto;
  width: 90%;

}

.kid_room{
  display: block;
  margin: auto;
  width: 95%;
}

.kid_text{
  background-color: white;
  color: black;
  display: table-cell;
  font-family: sans-serif "Calibri";
  font-size: large;
  vertical-align: middle;
  width: 500px;
}

.kid_profile_link{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  width: 5px;
}

.kid_dad_link{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; /*50*/
}

.kid_votes{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; /*50*/
  width: 60px;
}

.kid_added_by{
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; /*50*/
  width: 100px;
}

.is_mom{
  color: gray;
  display: table-cell; /* 10 */
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle; /*50*/
}

.no_dad_no_kids{
  background-color: white;
  text-align: center;
  color: lightsteelblue;
  font-size: 30px;
  font-style: italic;
  padding: 10px;
}
.debug_table, td{
  border: solid 1px black;
  font-size: small;
  white-space: nowrap;
}

/* --- finish search_result.php --- */

/* start user_profile.css*/

#user_profile_container{
  border-spacing: 10px;
  margin: 5px auto;
  width: 98%;
    
}

#user_profile{
  display: block;
  margin: auto;
  width: 95%;
}

#user_left_panel{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: table-cell;
  padding: 5px;
  vertical-align: top;
  width: 20%;
}

#user_middle_panel{
  background-color: gainsboro;
  border: 1px solid #c1c1c1;
  display: table-cell;
  width: 40%;
}

#user_right_panel{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: table-cell; /* 10 */
  padding: 5px;
  vertical-align: top;
  width: 20%;
}

#user_pers_info{
  border-spacing: 5px;
  display: block;
}

#user_pers_info_photo{
  display: table-cell;
  vertical-align: middle;
}

#user_pers_info_desc{
  display: table-cell;
}

.user_pers_info_desc_row{
  display: block;
}

.user_pers_info_desc_row_title{
  color: gray;
  display: block;
  font-style: italic;
  padding: 3px;
}

.user_pers_info_desc_row_value{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: block;
  font-family: serif "Georgia";
  font-size: large;
  padding: 2px;
}

#user_contrib{
  display: block;
  padding: 5px;
}

#user_contrib_title{
  color: gray;
  display: block;
  font-style: italic;
  padding-bottom: 3px;
}

#user_contrib_values{
  background-color: white;
  border: 1px solid #c1c1c1;
  display: block;
  font-family: serif "Georgia";
  font-size: large;
  padding: 5px;
}

#user_contributions{
    border: solid;
    border-width: thin;
    padding: 5px;
    vertical-align: top;
}

#user_id{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

#user_name{
    font-size: large;
    font-weight: bold;  
}

#user_photo{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 5px;
}

#user_photo_id{
    display: table-row;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
/* finish user_profile.css*/


/* for entry_display.php*/
#treqResp{
  font-size: smaller;
}
#entry_index_container{
  margin: 3px auto;
  width: 98%;
}

.entry_record{
  /*border: ridge 10px green;*/
  display: block;
  /*padding: 2px;*/
  margin: auto;
  width: 60%;
}

.entry_record_title{
  background-color: lavender;
  color: silver;
  display: block;
  font-size: smaller;
  font-weight: bold;
  margin: auto;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 55%;
}

.entry_record_value{
  background: white;
  border: 1px solid #c1c1c1;
  display: block;
  font-family: serif "Georgia";
  font-size: large;
  margin: auto;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 55%;
}

/*finish entry_display.php*/

/* start entry_create.php */
#entry_create_form{
  margin: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

#entry_create_form_title{
  background-color: lavender;
  color: gray;
  font-size: large;
  padding: 2px;
}

.entry_create_row{
  background-color: white;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  display: block;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5px;
  /*margin: auto;*/

}

.entry_create_buttons{
  background-color: lavender;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  display: block;
  margin-left: 80px;
  margin-right: 80px;
  padding: 5px;

}

.entry_create_record_title{
  display: table-cell;
  padding-left: 5px;
  vertical-align: top;
  width: 180px;
}

.entry_create_record_value{
  display: table-cell;
}

.entry_create_record_title_explanation{
  color: gray;
  font-style: italic;
}
.note{
  font-size: small;
  font-style: italic;
}
.Painted_red{
  color: red;
}

#place{
  display: inline;
}

.Row_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
  text-align: right;
  font-style: italic;
  vertical-align: top;
}

.Row_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
  vertical-align: top;
}

#source_language_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#source_language_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#target_language_lable{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#target_language_value{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#time{
  display: inline; 
}

#user{
  display: inline;
}

#authors{
  display: inline;
}

#entry_profile{
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
}

.Entry_profile_row{
}

#entry_text{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_translit{
  display: table-cell;
  border: solid;
  border-width: thin;
  padding: 5px;
}

#form{
  display: inline;
}

#language{
  display: inline;
}

#place{
  display: inline;
}

#time{
  display: inline; 
}

#user{
  display: inline;
}

/* finish for entry_display.php*/

/* for entry_create.php */

#entry_source_label{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_source_value{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_text_in_original_label{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_text_in_original_value{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_text_translated_label{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
}

#entry_text_translated_value{
  /*display: table-cell;*/
  border: solid;
  border-width: thin;
  padding: 5px;
/* finish entry_create.php */
}

.pannel_inline {
	display: inline;
}

.login_button {
  -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Courier New;
  font-size: 22px;
  padding: 7px 18px;
  text-decoration:none;
}

.login_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
}

.login_button:active {
  position:relative;
  top:1px;
}

/******user list view********/
.userlist_icon:before{
    content: " ";
    display: block;
    background: url("../../images/user_list.png") no-repeat;    
    width: 20px;
    height: 20px;
    float: left;
    padding: 0px 10px;
}
.userlist_icon {
    width: auto;
    font-size: 20px;
    background-color: #00CCFF;
    padding: 10px;
}

#scroll_list {
    width:auto;
    max-height: 500px;
    line-height:2.5em;
    font-size: 13px;
    overflow:auto;
    background-color:#FCFADD;
    color:#714D03;
    padding: 20px 10px;
}

#scroll_list > div > a:before{
    content: " ";
    display: block;
    background: url("../../images/user.png") no-repeat;    
    width: 30px;
    height: 30px;
    float: left;
    padding: 0px 3px;
}

/**************profile***************/

.container{
    display:table;
    border-collapse: collapse;
    text-align: left;
    background: #ffffff;
}

.heading {
    font-weight: bold;
     display:table-row;
     font-size: 14px;
     color:#000000;
}

.col {
    display:table-cell;
}

.col_image {
    display:table-cell;
    height: auto;
}

.col_info {
    display:table-cell;
    height: auto;
    vertical-align: top;
    width: 600px;
}

.col_userlist {
    display:table-cell;
    width: 300px;
    vertical-align: top;
}

.col_space {
    display:table-cell;
    width: 20px;
}

.row_space {
    height: 20px;
}

.user_info_space {
    padding-left: 20px;
    font-size: 20px;
}

.search_button {
    background: #12A1FF;
    padding: 10px 60px;
    font-size: 20px;
    color: #ffffff;
    text-decoration:none; 
}

.body_width {
    max-width: 980;
    background: #F1FFF9;
    padding: 10px;
    text-align: justify;
    min-height: 550px;
}

#RightCol_Scroll {
    overflow: auto;
    max-height: 669px;
}

/****************for middle of front page*************/
.t_width_1_3 {
	width: 33.333%;
    display: inline-block;
}

panel_box {
padding: 15px;
background: #fafafa;
color: #666;
border: 1px solid #e5e5e5;
border-radius: 4px;
}

.t_panel {
display: block;
position: relative;
}

.t_title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    background: #12A1FF;
    color: #ffffff;
    border-bottom: solid;
    border-color: #000000;
    border-width: thin;
    padding: 8px;
}

.col_33 {
    display:table-cell;
    width: 33%;
    height: 360px;
    border-style: solid ;
    border-color: #000000;
    border-width: 1px;
    box-shadow: 5px 5px 5px #888888;
}

html {
    height: 100%;
}

.mid_scoll {
    overflow: auto;
    max-height: 400px;
}

.entryList, .entry_header {
    width: 700px;
    margin: 0;
    border: 1px solid #D9E0E3;
    padding: 9px 5px 10px;
    font-size: 14px;
    display: block;
    text-align: left;
}

.entryList {  
    border-radius: 0 0 3px 3px;   
}

.entry_header {
    background-color: #D9E0E3;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
}
