<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div><h4>Searchphrase examples<h4></div>
Options of search string for testing the search. 
<hr>
CASE 1: no original, no translations
<br>Original: doesn't exist in DB. 
<br>Variants: don't exist
<br>Search phrase: 
<h3>bla bla bla</h3>

<hr>

CASE 2: no original, 6 translations (2 per language)
<br>Original: doesn't exist. 
<br>Variants: 2 English, 2 Russian, 2 Mandarin
<br>Search phrase: 
<h3>god son loved world life</h3>

<hr>

CASE 3: One original, no translations
<br>Original: exists. 
<br>Variants: don't exist.
<br>Search phrase: 
<h3>that question</h3>

<hr>

CASE 4: one original, one or more translations
<br>Original exists. 
<br>Variants: exist.
<br>4A: one original, 1 English translation
<br>Original: Russian. Variants: 1 in English
<br>Search phrase: 
<h3>boring sad hand</h3>

<hr>

4B: one original, 6 translations (2 per language)
<br>Original: English. 
<br>Variants: 2 in English, 2 in Russian, 2 in Mandarin
<br>Search phrase: 
<h3>happy birth day to you</h3>

<hr>

4C: one original, 4 translations (2 per language)
<br>Original: Russian. 
<br>Variants: 2 in English, 2 in Mandarin.
<br>Search phrase: 
<h3>pears apples Katyusha fog river</h3>

<hr>

4D: one original, one translation (Russian)
<br>Original: Chinese. 
<br>Variants: 1 in Russian.
<br>Search phrase:
<h3>break wok sink boats</h3>

<hr>
Also:
<h3>three walk teacher</h3>

  </body>
</html>
