*{  
  margin:0;
  padding:0;
}

body{
  background-color:#f0f0f0;
  font-family:helvetica;
  height: 100%;
}

a{
  display:block;
  color:#ad5482;  
  text-decoration:none;
  font-weight:bold;
  margin-top:40px;
  text-align:center;
}

/*
#bg{
  position:relative;
  top:20px;
  height:100%;
  width:800px;
  background:url('http://i.imgur.com/3eP9Z4O.png') center no-repeat;
  background-size:cover;
  margin-left:auto;
  margin-right:auto; 
  border:#fff 15px solid;
}
*/

#bg {
  background: #D9E0E3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: #000000;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.module{
  position:relative;
  top:2%;    
  height:100%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  
}

.module ul{
  list-style-type:none;
  margin:0;
}

.tab{
  float:left;
  height:60px;
  width:25%;
  padding-top:20px;
  box-sizing:border-box;
  background:#eeeeee;  
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}

.tab:first-child{  
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

.tab:last-child{  
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

.tab:hover{  
  background-color:rgba(0,0,0,.1);
}

.activeTab{
  background:#fff;
}

.activeTab .icon{
  opacity:1;
}

.icon{
  height:24px;
  width:24px;
  opacity:.2;
}

.form{
  float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;
}


.textbox{
  height:45px;
  width:99%;
  border-radius:0px;
  border: 3px solid #bdc7d8;
  box-sizing:border-box;
  padding:5px;
  margin-bottom:30px;
  font-size: 18px;
  color:#000000;    
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}

.error_box{
  margin-top: 0px;
  margin-bottom: 0px;
}

.cb_data{
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 3%;

}
.checkbox{
  height:60px;
  font-size: 12px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.checkbox:focus{
  outline:none;
  border:rgba(24,149,215,1) 2px solid;
  color:rgba(24,149,215,1);
}

.button{
  height:45px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding: 5px;
  margin-bottom:30px;
  background: #12A1FF;
  color: #ffffff;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}

.button:hover{
  background:#2A6DFF;  
}

.date_box {
    font-size: 18px;         
    height: 40px;
    padding: 4px;
    border: 3px solid #bdc7d8;
}

.language_box {
    font-size: 18px;         
    height: 40px;
    padding: 4px;
    margin-bottom: 8px;
    border: 3px solid #bdc7d8;
}

.add_button {
    font-size: 18px;         
    height: 40px;
    padding: 5px;
    width: 99%;
    background: #12A1FF;
    color: #ffffff;
    margin-bottom: 10px;
}

.add_button:hover{
    background:#2A6DFF; 
}

.agreement_box {
    position: relative; 
    text-align: justify; 
    overflow:auto;
    height:150px; 
    width:348px;  
    font-size:10px; 
    padding: 7px; 
    border: 3px solid #bdc7d8;
}

.checkbox {
    padding: 2px;
}
